:root {
    --theme-background-color: #222225;
    --theme-accent-color: red;
    --theme-primary-color: orange;
    --theme-secondary-color: white;
    --theme-text-color: #e8e9ed;
    --theme-border-color: var(--theme-text-color);
    --size-page-width: 60em;

    /*Terminal Css*/
    --background-color: var(--theme-background-color);
    --page-width: var(--size-page-width);
    --font-color: var(--theme-text-color);
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
    --block-background-color:var(--background-color);

}

body {
    background: var(--theme-background-color);
    color: var(--theme-text-color);
}
select {
    background: var(--theme-background-color);
    border: var(--theme-border-color);
    color: var(--theme-text-color);
}

input {
    background: var(--theme-background-color);
    color: var(--theme-text-color);
}

textarea {
    background: var(--theme-background-color);
    color: var(--theme-text-color);
}

button {
}
.app {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template:
            "header" 64px
            "content" 1fr
            / 1fr;

}

.app__header {
    padding: 6px;
    grid-area: header;
    align-self: stretch;
}

.app__content {
    min-height: 0;
    min-width: 0;
    padding: 12px;
    grid-area: content;
    align-self: stretch;
    justify-self: stretch;
    display: grid;
}

.chat {
    width: min(100%, var(--page-width));
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: grid;
    justify-self: center;
    align-items: stretch;
    grid-template:
            "header" auto
            "sheet" 1fr
            "input" 64px;
    grid-gap: 12px;
}

.chat__header {
    min-height: 2rem;
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 12px;
    border: solid 1px var(--theme-border-color);
}
.chat__header > * {
    width: auto;
}

.chat__sheet {
    grid-area: sheet;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-self: stretch;
    align-self: stretch;
    padding: 12px;
    gap: 1em;
    border: solid 1px var(--theme-border-color);
}

.chat__input {
    grid-area: input;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

.chat__message {
    padding: 12px;
    border: solid 1px var(--theme-border-color);
}

.chat__message--user {
    align-self: flex-end;
    max-width: 80%;
}

.chat__message--agent {
    align-self: flex-start;
    max-width: 80%;
}

.chat__input__input {
}

.chat__input__submit {
    background-color: #00000000;
}
